@import "./variables";
@import url("https://fonts.googleapis.com/css?family=Pacifico|Roboto+Condensed");

#homeContainer {
  font-family: 'Pacifico', cursive;
  height: 100vh;
  background: #009FFF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ec2F4B, #009FFF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ec2F4B, #009FFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  overflow: hidden;
}

#content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#title, #description {
  color: $home-content-color;
}

#title, #description {
  display: flex;
  justify-content: center;
}

#title {
  font-size: 5em;
  margin-bottom: 0;
}

#description {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.2em;
  margin-bottom: 2rem;
}

#resultsNav {
  font-family: 'Roboto Condensed', sans-serif;
  text-decoration: none;
  text-align: center;
  font-size: 1.2em;
  margin: auto;
}

#titleContent {
  display: flex;
  flex-direction: column;
}

// Adopted from canvasplay's CodePen
// https://codepen.io/canvasplay/pen/WXWobd
$anim-text-offset: 1em;

.button{
  touch-callout: none;
  user-select: none;
  display: inline-block;
  border: .2em solid;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  opacity: 0.6;
  color: $home-content-color;
  &__text{
    display: block;
    padding: 0.75em 1.75em;
    text-transform: uppercase;
    font-weight: bold;
    &:before{
      content: attr(title);
    }
    &--bis{
      display: block;
      position: absolute;
      top: 0; left:0; right: 0; bottom: 0;
      transform: translateX(-1 * $anim-text-offset);
      opacity: 0;
    }
  }
  &__mask{
    display: block;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: $home-content-color;
    transform: translateX(-100%) rotate(45deg);
    transition: all 0.3s;
  }
}

.button:hover{
  opacity: 1;
  .button__text{
    animation: fx-text .3s ease-out;
    &--bis{
      animation: fx-text-bis .3s ease-out;
    }
  }
  .button__mask{
    animation: fx-mask .3s ease-out;
  }
}

//.button:active{
//  opacity: 1;
//  background: $home-content-color;
//  color: inherit;
//}



@keyframes fx-mask {
  0%{
    transform: translateX(-100%) rotate(45deg);
  }
  100%{
    transform: translateX(100%) rotate(45deg);
  }
}

@keyframes fx-text {
  0%{
    transform: translateX(0);
    opacity: 1;
  }
  100%{
    transform: translateX($anim-text-offset);
    opacity: 0;
  }
}
@keyframes fx-text-bis {
  0%{
    transform: translateX(-1 * $anim-text-offset);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}

