@import "./variables";

.submitButton {
  border: none;
  outline: none;
  color: $font-color;
  border-radius: 5px;
  background: $secondary-color;
  padding: 1em;
}

.submitButton:hover {
  //opacity: 0.7;
  background: $dark-secondary;
}

.bodyField {
  border: none;
  border-radius: 5px;
  padding: 1em;
  font-family: sans-serif;
  resize: none;
  width: 100%;
  box-sizing: border-box;
}

#formBG {
  background: rgba(0,0,0,0.2);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

#formContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 2em auto 0 auto;
}

.postForm {
  width: calc(50% + 6rem);
}

#formSubmit {
  position: absolute;
  right: calc(25% - 3rem);
  margin-top: 0.25rem;
}

#charCounter {
  color: #5e5e62;
  margin: 0.25rem 0 0 0.5rem;
  font-size: 0.9em;
  font-weight: bold;
}