.submitButton {
  border: none;
  outline: none;
  color: white;
  border-radius: 10%;
  background: #1B95E0;
  padding: 1em;
}

.submitButton:hover {
  opacity: 0.7;
}

.bodyField {
  border: none;
  border-radius: 1%;
  padding: 1em;
  font-family: sans-serif;
}

#formContainer {
  background: rgba(0,0,0,0.2);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
