@import "./variables";

.message {
  background: $primary-color;
  position: relative;
  border-bottom: 1px solid $message-border-color;
  padding: 1rem 3rem;
  width: 50%;
  max-width: 800px;
  margin: auto;
  // Ensure no overflow
  white-space: pre-wrap;      /* CSS3 */
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -pre-wrap;     /* Opera <7 */
  white-space: -o-pre-wrap;   /* Opera 7 */
  word-wrap: break-word;      /* IE */
}

.message:hover {
  background: $message-hover-color;
}

.arrow {
  fill: $arrow-color;
  transform: rotate(90deg);
  position: absolute;
  top: 1em;
  right: 1em;
  height: 0.75em;
  width: 0.75em;
}

.arrow:hover {
  fill: $secondary-color;
}

.dateString {
  color: $arrow-color;
  //position: absolute;
  //top: 1em;
  //left: 1em;
  font-size: 0.80em;
  margin: 0 0 0.5em 0;
}

// Options popup menu
.optionsContainer {
  background: $primary-color;
  border-radius: 5px;
  position: absolute;
  top: calc(1em + 0.75em + 0.7em);
  right: 0;
  z-index: 1;
  padding: 5px 0;
  width: 6rem;
  box-shadow: 0 0 5px rgba(0,0,0,0.23);
}

.optionsContainer::before {
  content: '';
  background: $primary-color;
  position: absolute;
  transform: rotate(-45deg);
  height: 0.75rem;
  width: 0.75rem;
  z-index: -1;
  margin-left: -0.5em;
  left: 79%;
  top: -0.38rem;
  //box-shadow: 0 0 5px -2px rgba(0,0,0,0.23);
  //border-right: 0.75px solid rgba(0,0,0,0.1);
  //border-top: 0.75px solid rgba(0,0,0,0.1);
  box-shadow:0px 0px 5px rgba(0,0,0,0.23);
}

.optionsContainer::after {
  content: '';
  background: $primary-color;
  position: absolute;
  height: 0.75rem;
  width: 1.5rem;
  z-index: -1;
  margin-left: -0.5em;
  left: calc(79% - 0.39rem);
  top: 0;
}

//.optionsContainer::after {
//  content: '';
//  background: red;
//  //display: block;
//  position: absolute;
//  transform: rotate(45deg);
//  height: calc(5px + 1rem);
//  width: 3em;
//  left: 50%;
//  z-index: -1;
//  margin-left: -0.5em;
//  top: 0.31rem;
//  //box-shadow: 0 0 5px -2px rgba(0,0,0,0.23);
//  //box-shadow: 8px 0 10px -6px black;
//  border-right: 0.5px solid rgba(0,0,0,0.1);
//}

.option {
  color: $arrow-color;
  margin: 0;
  padding: 0.10rem 1rem;
  // Prevent text from being highlighted
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.option:hover {
  background: $secondary-color;
  color: $font-color;
}

//.deleteButton, .editButton {
//  width: 3.2em;
//  height: 3.2em;
//  display: inline-flex;
//  justify-content: center;
//  align-items: center;
//  border: 2px solid $secondary-color;
//  outline: none;
//  color: $secondary-color;
//  border-radius: 10%;
//  background: none;
//}
//
//.deleteButton:hover, .editButton:hover {
//  background-color: $secondary-clear;
//}
//
//.deleteButton {
//  right: 0.1em;
//}
//
//.editButton {
//  right: 3.4em;
//}