// Theme
$secondary-color: #1B95E0;
$dark-secondary: #006dbf;
$primary-color: white;
$arrow-color: #657786;

// Fonts
$font-color: white;
$home-content-color: white;

// Message
$secondary-clear: rgba($secondary-color, .1);
$message-border-color: #e6ecf0;
$message-hover-color: #f5f8fa;
