// Theme
$secondary-color: #ec2f4b;
$dark-secondary: #dd2c44;
$primary-color: white;
$arrow-color: #657786;
$error-color: red;

// Fonts
$font-color: white;
$home-content-color: white;

// Message
$secondary-clear: rgba($secondary-color, .1);
$message-border-color: #e6ecf0;
$message-hover-color: #f5f8fa;
